<div class="esercizio">
    <h2>ESERCIZIO 3</h2>
    <h3>
        Testo esercizio:
        Utilizza l'operatore from per convertire un array di stringhe in un Observable che emette ogni stringa. Sottoscrivi e logga i valori.
    </h3>
  
    <div class="azioni">
        <button (click)="esegui()">Avvia</button>
        <button (click)="reset()">Reset</button>
      </div>
  
    <div class="contenuto">
      <!--risultati eserc -->
      <p>*******ESERCIZIO*******</p>
      <pre>{{ output }}</pre>
    </div>
  </div>
  