<div class="esercizio">
  <h2>ESERCIZIO 8</h2>
  <h3>
    Testo esercizio:
    Crea un Observable che emette numeri ogni secondo e un secondo Observable (Subject) che emette dopo 3 secondi. Usa
    takeUntil per interrompere il primo.

    <section class="azioni">
      <button (click)="esegui()">Avvia</button>
      <button (click)="reset()">Reset</button>
    </section>

    <div class="contenuto">
      <!--risultati eserc -->
      <p>*******ESERCIZIO*******</p>
      <pre>{{ output }}</pre>
    </div>