<div class="esercizio">
    <h2>ESERCIZIO 2</h2>
    <h3>
        Testo esercizio:
        Crea un Observer semplice che logghi in console i valori emessi e la notifica di completamento dell'Observable creato nell'esercizio 1.
  
    <div class="azioni">
        <button (click)="esegui()">Avvia</button>
        <button (click)="reset()">Reset</button>
      </div>
  
    <div class="contenuto">
      <!--risultati eserc -->
      <p>*******ESERCIZIO*******</p>
      <pre>{{ output }}</pre>
    </div>

  