<div class="esercizio">
    <h2>ESERCIZIO 15 Figlio</h2>
    <h3>
      Testo esercizio:
      Input Binding - 
      Il figlio emette un valore (es. numero casuale) al padre, che lo visualizza.
  
      <section class="azioni">
        <button (click)="esegui()">Avvia</button>
        <button (click)="reset()">Reset</button>
        <button (click)="generaNumero()">Genera un numero</button>
      </section>
  
      <div class="contenuto">
        <!--risultati eserc -->
        <pre></pre>
      </div>