<div class="esercizio">
    <h2>ESERCIZIO 4</h2>
    <h3>
        Testo esercizio:
        Utilizza fromEvent (o simile) per creare un Observable che emette eventi di click su un elemento con ID myButton.
    </h3>
  
    <div class="azioni">
        <button (click)="esegui()">Avvia</button>
        <button (click)="reset()">Reset</button>
      </div>
  
    <div class="contenuto">
      <!--risultati eserc -->
      <p>*******ESERCIZIO*******</p>
      <pre>{{ output }}</pre>
      <div>
        <button id="myButton">Clicca</button>
      </div>
    </div>
  </div>
  